.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: #111;
    

}

.logo{
    position: fixed;
    left: 30px;
    width: 100px;
    margin-top: 25px;
    
}
.avatar{
    position: fixed;
    right: 25px;
    width: 30px;
    margin-top: 25px;
}